
.xBtn{
  display: inline-block;
  border: 1px solid darkred;
  text-align: center;
  font-size: 12px;
  font-family: Verdana;
  color: darkred;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0 10px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


